<!doctype html><html class="no-js" lang=""><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1"><title>UVigo src</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><!-- Place favicon.ico in the root directory --><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"><link rel="stylesheet" href="css/main.css"><!-- Include jQuery Mobile stylesheets --><link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"><script src="js4/vendor/modernizr.js"></script></head><body><!--[if lt IE 10]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]--><!-- header contiene logo y barra de search --><div class="header"><!--Div para el svg tiene que tener el background i el icono centrado ancho del 100%
      <object id="vigoSvg" type="image/svg+xml" data="images/logo.svg">
        Your browser does not support SVG
      </object>
      --><div class="header-logo"><object id="vigoSvg" type="image/svg+xml" data="img/logoVigo.svg">Your browser does not support SVG</object></div><!--Div con ancho del 100% contiene un input search para la barra de busqueda con un place holder con icono de font awesome--><div class="header-searchbar"><div class="input-group"><input id="the-basics" type="text" class="form-control" placeholder="&#xF002; Search"></div></div></div><!-- --><div class="container info info-services animated fadeIn"><script id="entry-template" type="text/x-handlebars-template"><div class="centered">
        <h3>{{title}}</h3>
      </div>
      <div class="row">
        <ul class="list-unstyled">
        {{#each data}}
          <li class="list-item">
            <a href="{{ref}}">{{content}} <span class="pull-right"><i class="fa fa-arrow-right"></i></span></a>
          </li>
         {{/each}}
        </ul>
      </div></script><div class="divider-margin"></div></div><div class="footer animated fadeInUp"><ul class="list-inline"><li class="list-inline-item"><a href="mapa.html"><i class="fa fa-map-o"></i><span>Mapa</span></a></li><li class="list-inline-item active"><a href="index.html"><i class="fa fa-list"></i><span>Lista</span></a></li><li class="list-inline-item"><a href="info.html"><i class="fa fa-info-circle"></i><span>Info</span></a></li></ul></div><!-- Google Analytics: change UA-XXXXX-X to be your site's ID. --><script>(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');</script><script src="js/vendor.js"></script><script src="js/plugins.js"></script><script src="js/main.js"></script></body></html>